<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Test Software</span>
    <span class="example-spacer"></span>
    <a mat-flat-button color="primary" [routerLink]="['insertar-personas']" >
      
      <mat-icon>add</mat-icon>
      Agregar Persona
    </a>
    <a  mat-flat-button color="primary" [routerLink]="['lista-personas']">
       
      <mat-icon>filter_list</mat-icon>
      Lista de Personas
    </a>
    <a  mat-flat-button color="primary" [routerLink]="['crear-factura']">
       
      <mat-icon>add</mat-icon>
      Crear Factura
    </a>

  </mat-toolbar>
</p>

<router-outlet></router-outlet>
